<div class="main-body">
  <section class="selection-bar">
    <label for="file-input">Open</label>
    <input type="file" id="file-input" (change)="loadImage($event)" />
    <button type="button" (click)="clearAll()">Clear</button>
    <button type="button" (click)="saveImage()">
      <img src="assets/icons/save.png" alt="">
    </button>
    <button type="button" (click)="rollback()">
      <img src="assets/icons/undo.png" alt="">
    </button>
    <button type="button" (click)="redo()">
      <img src="assets/icons/redo.png" alt="">
    </button>
  </section>
  <section class="toolbar-section">
    <div class="tool-container">
      <div class="tool">
        <button type="button" [class.active]="currentTool === 'pencil'" (click)="useTool('pencil')">
          <img src="assets/icons/pencil.png" alt="">
        </button>
        <button type="button" [class.active]="currentTool === 'eraser'" (click)="useTool('eraser')">
          <img src="assets/icons/eraser.png" alt="">
        </button>
        <button type="button" [class.active]="currentTool === 'ink'" (click)="useTool('ink')">
          <img src="assets/icons/fillcolor.png" alt="">
        </button>
        <button type="button" [class.active]="currentTool === 'text'" (click)="useTool('text')">
          <img src="assets/icons/typography.png" alt="">
        </button>
        <button type="button" [class.active]="currentTool === 'eyedropper'" (click)="useTool('eyedropper')">
          <img src="assets/icons/color_dropper.png" alt="">
        </button>
      </div>
      <div class="tool-title">
        Tools
      </div>
    </div>
    <div class="divider"></div>
    <div class="tool-shape-container">
      <div class="tool">
        <button type="button" [class.active]="currentShape === 'rectangle'" (click)="setShape('rectangle')">
          <img src="assets/icons/rectangular.png" alt="">
        </button>
        <button type="button" [class.active]="currentShape === 'triangle'" (click)="setShape('triangle')">
          <img src="assets/icons/triangle.png" alt="">
        </button>
        <button type="button" [class.active]="currentShape === 'circle'" (click)="setShape('circle')">
          <img src="assets/icons/circle.png" alt="">
        </button>
        <button type="button" [class.active]="currentShape === 'line'" (click)="setShape('line')">
          <img src="assets/icons/line.png" alt="">
        </button>
      </div>
      <div class="tool-title">
        Shapes
      </div>
    </div>
    <div class="tool-shape-fill">
      <label for="fill-checkbox">Filled?</label>
      <input type="checkbox" id="fill-checkbox" (change)="changeFill($event)">
    </div>
    <div class="divider"></div> 
    <div class="tool-container">
      <div class="tool-custom">
        <div class="tool-size-container">
          <label for="strock-customer">Size</label>
          <input type="number" id="strock-customer" value="1" (change)="changeLineWidth($event)">
        </div>
        <div class="tool-color-container">
          <label for="color-picker">Color</label>
          <input type="color" id="color-picker" [value]="strokeColor" (change)="changeColor($event)">
        </div>
      </div>
    </div>
    <div class="divider"></div> 
    <div class="tool-container">
      <div class="tool-custom">
        <div class="tool-size-container">
          <label for="zoom-custom">Zoom</label>
          <input type="range" id="zoom-custom" value="1" min="1" max="2" step="0.1" (change)="changeZoomScale($event)" >
        </div>
      </div>
    </div>
    <div class="divider"></div> 
    <!-- <div class="tool-select-container">Select</div> -->
  </section>
  <section class="draw-section">
    <canvas #paintCanvas [class]="cursorClass" class="draw-board" (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseup)="stopDrawing()" (mouseout)="outRangeDraw()" (click)="inkOrEyedrop($event)">
    </canvas>
  </section>
  <section class="bottom-section">
    <div class="current-tool">Current tool :</div>
    <div class="mouse-coordinates">Mouse Coordinates</div>
  </section>
</div>
<router-outlet></router-outlet>
