.main-body{
  display:flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 30px;
}

/* selection-bar */
.selection-bar{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.selection-bar .button-container{
  background-color: transparent;
  height: 25px;
  width: 60px;
  display:flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

  .selection-bar .button-container:hover{
    background-color: #e0e0e0;
    border-radius: 5px;
  }

  .selection-bar .button-container button{
    width: 100%;
    background: transparent;
    border:none;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
  }

  .selection-bar .button-container label{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display:flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
  }

  .selection-bar .button-container button img{
    height: 18px;
    align-items: center;
  }

input[type="file"]{
  display: none;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid #000000;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #000000;
}

input[type="number"]{
  border-radius: 5px;
  border: 2px solid #000000;
  padding-left: 8px;
  font-size: 14px;
}



/* tool-bar */
.toolbar-section{
  margin-top: 15px;
  margin-bottom:20px;
  padding: 0 15px;
  display:flex;
  flex-direction: row;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  align-items: center;
  background-color: #f9f9f9;
}

  .tool-container{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .tool-shape-container{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
  }

    .tool{
      margin: 8px;
      display:grid;
      grid-template-columns: 30px 30px 30px;
      column-gap: 10px;
      row-gap: 10px;
    }

      .tool button{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
      }
        .tool button:hover{
          background-color: #dfdfdf;
          .tooltiptext{
          display:block;
        }
        }

        .tool button:hover .tooltiptext{
          display:block;
        }

        .tool .active{
          background-color: #dfdfdf;
          border: 2px solid #000000;
        }
        
        .tool button img{
          height: 20px;
        }

    .tool-title{
      margin-bottom: 8px;
      font-size: 13px;
      font-weight: bold;
    }

  .tool-shape-fill{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
  }

    .tool-shape-fill input{
      height: 20px;
    }

    .tool-shape-fill label{
      font-size: 13px;
      font-weight: bold;
    }


  .tool-custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
  }  

    .tool-custom .tool-size-container, .tool-color-container{
      display:flex;
      flex-direction: column;
      padding-bottom: 5px;
      align-items: center;
    }  

      .tool-custom .tool-size-container input{
        width: 80px;
        height: 16px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 15px;
      }

      .tool-custom .tool-color-container input{
        text-align: center;
      }

    .divider{
      height: 80%;
      width: 0px;
      border: 1px solid rgba(60, 64, 67, 0.3);
    }

/* draw-section */

.draw-section{
  flex:1;
  display:flex;
  flex-direction: row;
}

  .draw-board{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
    flex:1;
  }

/* bottom-section */
.bottom-section{
  height: 100x;
  display:flex;
  flex-direction: row;
  margin-top:10px;
}


