<div class="main-body">
  <section class="selection-bar">
    <div class="button-container">
      <label for="file-input">Open</label>
      <input type="file" id="file-input" (change)="loadImage($event)" />
    </div>
    <div class="button-container">
      <button type="button" (click)="clearAll()">Clear</button>
    </div>
    <div class="button-container">
      <button type="button" (click)="saveImage()">
        <img src="assets/icons/save.png" alt="">
      </button>
    </div>
    <div class="button-container">
      <button type="button" (click)="rollback()">
        <img src="assets/icons/undo.png" alt="">
      </button>
    </div>
    <div class="button-container">
      <button type="button" (click)="redo()">
        <img src="assets/icons/redo.png" alt="">
      </button>
    </div>
  </section>
  <div class="toolbar-container">
    <section class="toolbar-section">
      <div class="tool-container">
        <div class="tool">
          <button type="button" [class.active]="currentTool === 'pencil'" (click)="useTool('pencil')">
            <img src="assets/icons/pencil.png" alt="">
            <span class="tooltiptext">Pencil</span>
          </button>
          <button type="button" [class.active]="currentTool === 'eraser'" (click)="useTool('eraser')">
            <img src="assets/icons/eraser.png" alt="">
            <span class="tooltiptext">Eraser</span>
          </button>
          <button type="button" [class.active]="currentTool === 'ink'" (click)="useTool('ink')">
            <img src="assets/icons/fillcolor.png" alt="">
            <span class="tooltiptext">Fill</span>
          </button>
          <button type="button" [class.active]="currentTool === 'text'" (click)="useTool('text')">
            <img src="assets/icons/typography.png" alt="">
            <span class="tooltiptext">Text</span>
          </button>
          <button type="button" [class.active]="currentTool === 'eyedropper'" (click)="useTool('eyedropper')">
            <img src="assets/icons/color_dropper.png" alt="">
            <span class="tooltiptext">EyeDrop</span>
          </button>
        </div>
        <div class="tool-title">
          Tools
        </div>
      </div>
      <div class="divider"></div>
      <div class="tool-shape-container">
        <div class="tool">
          <button type="button" [class.active]="currentShape === 'rectangle'" (click)="setShape('rectangle')">
            <img src="assets/icons/rectangular.png" alt="">
            <span class="tooltiptext">Rectangle</span>
          </button>
          <button type="button" [class.active]="currentShape === 'triangle'" (click)="setShape('triangle')">
            <img src="assets/icons/triangle.png" alt="">
            <span class="tooltiptext">Triangle</span>
          </button>
          <button type="button" [class.active]="currentShape === 'circle'" (click)="setShape('circle')">
            <img src="assets/icons/circle.png" alt="">
            <span class="tooltiptext">Ellipse</span>
          </button>
          <button type="button" [class.active]="currentShape === 'line'" (click)="setShape('line')">
            <img src="assets/icons/line.png" alt="">
            <span class="tooltiptext">Line</span>
          </button>
        </div>
        <div class="tool-title">
          Shapes
        </div>
      </div>
      <div class="tool-shape-fill">
        <label for="fill-checkbox">Filled?</label>
        <input type="checkbox" id="fill-checkbox" (change)="changeFill($event)">
      </div>
      <div class="divider"></div>
      <div class="tool-container">
        <div class="tool-custom">
          <div class="tool-size-container">
            <input type="number" id="strock-customer" value="1" (change)="changeLineWidth($event)">
          </div>
        </div>
        <label class="tool-title" for="strock-customer">Size</label>
      </div>
      <div class="divider"></div>
      <div class="tool-container">
        <div class="tool-custom">
          <div class="tool-color-container">
            <input type="color" id="color-picker-stroke" [value]="strokeColor" (change)="changeColor($event)">
          </div>
        </div>
        <label class="tool-title" for="color-picker-stroke">Stroke</label>
      </div>
      <div class="divider"></div>
      <div class="tool-container">
        <div class="tool-custom">
          <div class="tool-color-container">
            <input type="color" id="color-picker-fill" [value]="fillColor" (change)="changeFillColor($event)">
          </div>
        </div>
        <label class="tool-title" for="color-picker-fill">Fill</label>
      </div>
      <div class="divider"></div>
      <div class="tool-container">
        <div class="tool">
          <button type="button" [class.active]="currentTool === 'selectArea'" (click)="useTool('selectArea')">
            <img src="assets/icons/select.png" alt="">
            <span class="tooltiptext">Select</span>
          </button>
          <button type="button" (click)="rotate(-90)">
            <img src="assets/icons/rotate_left.png" alt="">
            <span class="tooltiptext">Rotate left 90</span>
          </button>
          <button type="button" (click)="rotate(90)">
            <img src="assets/icons/rotate_right.png" alt="">
            <span class="tooltiptext">Rotate right 90</span>
          </button>
          <button type="button" (click)="flipVertical()">
            <img src="assets/icons/flip_horizontal.png" alt="">
            <span class="tooltiptext">Flip vertical</span>
          </button>
          <button type="button" (click)="flipHorizontal()">
            <img src="assets/icons/flip_vertical.png" alt="">
            <span class="tooltiptext">Flip horizontal</span>
          </button>
        </div>
        <div class="tool-title">
          Advanced
        </div>
      </div>
    </section>
  </div>
  <section class="draw-section">
    <canvas #paintCanvas [class]="cursorClass" class="draw-board" (mousedown)="startDrawing($event)" (mousemove)="draw($event)" (mouseup)="stopDrawing()" (mouseout)="outRangeDraw()" (click)="inkOrEyedrop($event)">
    </canvas>
  </section>
  <section class="bottom-section">
    <div class="current-tool">Current mouse position : {{currentMouseX}} - {{currentMouseY}} </div>
  </section>
</div>
<router-outlet></router-outlet>
