.tooltiptext{
  display: none;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 95%;
  opacity: 0.8;
}

.tool-clipboard-container,.tool-select-container,.tool-multishape-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.tool-multishape-container .tool{
  margin:4px;
}

  .big-tool-button button{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }

  .big-tool-button button:hover{
    background-color: #ccdefa;
      .tooltiptext{
        display:block;
      }
  }

  .big-tool-button button img{
    height: 40px;
  }

  .big-tool-button .active{
    background-color: #ccdefa;
    border: 2px solid #000000;
  }

  .tool-clipboard-container .tool{
    margin: 8px;
    display:grid;
    grid-template-columns: 30px;
    row-gap: 10px;
  }

  .tool-select-container .tool{
    margin: 8px;
    display:grid;
    grid-template-columns: 30px 30px;
    row-gap: 10px;
  }

  .tool-select-container .tool{
    margin: 8px;
    display:grid;
    grid-template-columns: 30px 30px;
    row-gap: 10px;
  }

  .tool-multishape-container .tool{
    border-radius: 5px;
    border:1px solid rgba(187, 187, 187, 0.801);
    padding: 5px 5px;
  }

  .tool-color-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .tool-color-title{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }



/*scrollbar*/
/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px; 
}

/* Responsive Styling Selection bar */
@media (max-width: 778px) {
.main-body{
  padding: 0 8px;
}

  .selection-bar .button-container {
    width: 40px;
  }

  .selection-bar .button-container button {
    font-size: 12px;
    font-weight: 500;
  }

  .selection-bar .button-container label {
    font-size: 12px;
    font-weight: 500;
  }

  .selection-bar .button-container button img {
    height: 12px;
  }

  .toolbar-section{
    height: 90px;
    margin-top: 5px;
    margin-bottom:5px;
    padding: 0 3px;
  }
  
    .tool-container, .tool-shape-container{
      margin: 0 3px;
    }

    .tool-shape-container{
      margin: 0 5px;
    }
  
      .tool{
        margin: 4px;
        grid-template-columns: 20px 20px 20px;
        column-gap: 8px;
        row-gap: 8px;
      }
  
        .tool button{
          height: 18px;
          border-radius: 5px;
        }
          
          .tool button img{
            height: 13px;
          }
  
      .tool-title{
        margin-bottom: 8px;
        font-size: 11px;
        font-weight: bold;
      }
  
    .tool-shape-fill{
      margin-left: 5px;
      margin-right: 5px;
    }
  
      .tool-shape-fill input{
        height: 15px;
      }
  
      .tool-shape-fill label{
        font-size: 10px;
        font-weight: bold;
      }
  
  
    .tool-custom{
      margin: 8px;
    }  
  
      .tool-custom .tool-size-container, .tool-color-container{
        padding-bottom: 3px;
      }  
  
        .tool-custom .tool-size-container input{
          width: 40px;
          height: 13px;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        input[type="color"] {
          width: 40px;
          height: 40px;
        }

        input[type="number"]{
          border: 2px solid #000000;
          padding-left: 1px;
          font-size: 11px;
        }
  .tool-select-container .tool{
    margin: 4px;
        grid-template-columns: 20px 20px;
        column-gap: 8px;
        row-gap: 8px;
  }

  .tool-clipboard-container .tool{
    margin: 4px;
    grid-template-columns: 20px;
    column-gap: 8px;
    row-gap: 8px;
  }
  
  .big-tool-button button{
    height: 30px;
    border-radius: 5px;
  }

  .big-tool-button button img{
    height: 20px;
  }

  .tool-multishape-container .tool{
    border-radius: 3px;
    padding: 3px 3px;
  }

}